<!-- Current: "bg-purple-50 border-purple-600 text-purple-600", Default: "border-transparent text-gray-600 hover:text-gray-900 hover:bg-gray-50" -->
<div>
  <%= link_to @link, class: "#{@active ? "bg-purple-50 border-purple-600 text-purple-600" : "border-transparent text-gray-600 hover:text-gray-900 hover:bg-gray-50"} group border-l-4 py-2 px-3 flex items-center text-sm font-medium" do %>
    <!-- Current: "text-purple-500", Default: "text-gray-400 group-hover:text-gray-500" -->
    <%= heroicon @icon, options: { class: "mr-3 h-6 w-6 #{@active ? "text-purple-500" : "text-gray-400 group-hover:text-gray-500"}" } %>
    <span class="grow"><%= @title %></span>
    <%= render NavMenuBadgeComponent.new(count: @badge) %>
  <% end %>
  <% if @active %>
    <% children.each do |child| %>
      <%= child %>
    <% end %>
  <% end %>
</div>
