<div class="mt-4 flex items-center justify-between flex-col sm:flex-row">
  <div class="flex-1 min-w-0 self-start">
    <div class="flex flex-row items-center">
      <% if @title.present? %>
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate" title="<%= @title %>" >
          <%= @title %>
        </h2>
        <%= title_extra %>
      <% elsif title_alternative %>
        <%= title_alternative %>
      <% end %>
    </div>
    <% if description %>
    <p class="max-w-4xl text-sm text-gray-500">
      <%= description %>
    </p>
    <% end %>
  </div>
  <div class="flex-shrink-0 flex md:mt-0 md:ml-4 self-start">
    <%= extra %>
  </div>
</div>
